@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    font-family: "K2D";
}
body{   
    width: 100vw;
    
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: max-content  1fr  ;
    grid-template-areas: 
    "head head"
    "aside main"
    ;
  
    overflow-x: hidden;

   

}

/* nav */
nav{
    --pad : 0px;
    grid-area: head;
    background-color: #333;
    color: #fff;
    position: static !important;
    top: 0 !important;
    height: calc(100% - 2 * var(--pad));
    width: calc(100% - 2 * var(--pad));
   
}
.title{
    --pad: 15px;
    font-size: 210%;
   
    text-align: center;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    letter-spacing: 1px;
    color: #e1e1e1;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  padding: 15px;
}
/* aside */

aside{
    --height : 0px;
    
    top: 75px;
    height: calc(100vh - ( 2 * var(--height)) - 75px);

    grid-area: aside;
    background-color: #f1f1f1;
    font-size: 2cap;
    padding: var(--height);
    position: sticky;
    line-height: 1.3;
    border-right: 1.5px solid #000;
    width:  calc(100% - 2 * var(--pad));
    padding-left: 10px;
    *{
        margin: 5px;
        margin-bottom: 12px;
        text-align: center;
    }
    
   
}
nav> .title> button{
    display: none !important;
}
@keyframes  open_side_bar {
    from{
        left: -200px;
    }
    to{
        left:0;
    }
}
@keyframes close_side_bar {
    from{
        left: 0;
    }
    to{
        left: -200px;
    }
}
aside> button{
    display: none;
}
@media (width <= 735px) {
    body{
       display: block;
    }
    aside{
        top: 71.3333333333333333333333px;
        width: 30%; 
        grid-area: none;
        background-color: #e1e1e180;
        backdrop-filter: blur(10px);
        position: fixed;
        animation: close_side_bar .5s ease;
        left: -200px;
        top: 0;
        z-index: 999;
    }
    nav> .title> button{
        display: block;
    }
    aside> button{
        display: block;
    }
    .show{
        display: block;
        position: fixed;
        top: 0;
        animation: open_side_bar .5s ease;
        left: 0;
        width: 40%;
    }
    .show > a{
        
        background-color: transparent;
        border: none;
        height: 50px;
        width: 50px;
    }
    .show > button{
        --pad: 27%;
        display: flex;

        float: right;
        background-color: transparent;
        border: none;
        height: calc(100%/3 - var(--pad)) !important;
        width: 120;

       span{
        margin: 1px;
       }
    }

    
}
a{
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    &:hover{
        color: #3366ff;
        font-weight: 700;
    }
    &:active{
        color: #3399ff;
        font-weight: 900;
    }
}
/* main */
main{
    --pad: 10px;
    grid-area: main;
    padding: var(--pad);
    font-size: 20px;
   
    height:max-content;
    width:  calc(100% - 2 * var(--pad));
    padding-bottom: 0;
    
}
img{
    height: 30%;
    
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    float: right;
    margin: max(10px,1vw);
}
img[src="../img/Xavier_Bichat.jpg"]{
    width: 20%;
}
.subtitle{
    font-size: 4dvh;
    margin: 10px;
    text-transform: capitalize;
    font-weight: 700;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.174);
    letter-spacing: 3px;
    font-family:"SUSE";
    text-transform: small-caps;
    font-variant: small-caps;
    font-weight: 750;
    font-style: unset;
    &::after{
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: #000000;
        margin: 5px ;

    }
}
footer{
    grid-area: footer;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    letter-spacing: 1px;
    color: #e1e1e1;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
}
@media (width <= 847px) {
    img{
        float: none;
        margin: 0 auto;
        display: block;
        
    }
}
ul[class="top"]{
    &>li{
        display: block;
        text-align: left;
        margin-top: 15px;
    }
}
ul:not([class="top"]){
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(to right , rgba(200, 200, 200, 0.384), rgba(82, 82, 82, 0.116));
    ::marker{
        content: "";
        display: none; 
    }
    &>*:not(:last-child){
        border-bottom: 1px solid #0000001f;
    }
    *{
        margin: 0;
        padding: 10px;
        
    }
    *>b{
            font-weight: 700;
            font-size: 100%;
            border: none;
        
    }
    ul{
        background: #00000025;
        backdrop-filter: blur(10px);
        border-radius: 0 30px  30px 0;
        padding: 12px;
        margin-top: 10px;
        border-left: 5px solid #000000;
    }
    ul>*{
        margin: 0;
        padding: 10px;
        border: none;
        padding-left: 5px;
    }
    ul>*>b{
        font-weight: 700;
        font-size: 100%;
        border: none;
    }  
    ul>*>b::after{
        content: "";
        display: block;
        height: 1px;
        width: 1px;
        background-color: #3366ff;    
        }
    }

/* open aside */
button{
    height: 30px;
    width: 45px;
    border:none;
    margin: 15px;
    float: left;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
button > span{
    --pad : 2.3px;
    content: "  ";
    display: block;
    width: 100%;
    height: calc(100%/3 - var(--pad));
   
    background-color: #ffffffba;
    border-radius: 70px;
    transition: all .5s linear;
    
    
}

nav{
    position: sticky !important;
    top: 0 !important;
}