@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Patua+One&display=swap');
:root{
    --black:#000;
    --color-1: #3A1078;
    --color-2:#3795BD;
    --color-3:#4E31AA;
    --white:#F7F7F8;
}
*{
    box-sizing:content-box;
    
    padding:0;
    font-family: 'Coiny', Times, serif;
    color: var(--black);
    background-color: var(--white);
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Patua One', serif;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
    
}
.photo{
    margin-bottom: 10%;
}
img{
    
width: 100%;

    
    border-radius: 10px;
    
}
p{
    max-width: 50%;
}
.image{
    width: 25%;
    padding: 2px;
    background-color: rgba(128, 128, 128, 0.123);
  box-shadow: 0 4px 8px 0 var(--black), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: right;
  border: 2px solid #000;
    border-radius: 20px;
    padding: 10px;
}
.context{
    width: 100%;
    text-align: center;
    background-color: ghostwhite;
    border-radius: 20px;
}
.main{
    width: 170px;
    font-size: 20px;
    font-weight: 900;
    font-variant: small-caps;
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.sub{
    width: 180px;
    font-size: 10px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    
}
center>h1{
    font-size: 55px;
    font-weight: 700;
    color: var(--black);
    background-image: linear-gradient(to bottom, var(--color-2),var(--color-1),var(--black));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 1px;
    
}
center{
    background-color: rgba(0, 0, 0, 0.107);
    border-bottom: 4px solid var(--black);
    margin: 0;
}
ol{
    list-style-type: none;
    padding-left: 20px;
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: center;
    align-self: center;
    flex-direction: column-reverse;
    &>li{
        margin-bottom: 10px;
        
        padding-bottom: 10px;
        text-align: center;
        width: 300px;
    }
    &>li:not(:last-child)::after{
        content: '';
        transform: scale(10px,10px);
    }
}
.image[title="Xavier Bichat"]:active::after{
content: "Born :14 November 1771 \A Died: 22 July 1802";
white-space: pre-wrap;


}
.image[title="Epithelial Tissues"]{
    width: 30%;
    &:active::after{
    content: "Orgin : Ectoderm, Mesoderm, Endoderm \A Function : Protection, Secretion, Reproduction, Absorption and Excretion.";
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    }
}
@keyframes fade-In {
    from{
        opacity: 0;
        height: 0;
        
        color: transparent;
    }
    to{
        opacity: 100;
        height: auto;
        
    }
}
span[title="base membrane"],.title{
    background-color: rgba(0, 0, 0, 0.096);
    border-radius: 10px;
    padding: 8px;
    color: var(--color-2);
   
    font-weight: 400;
    user-select: none;
}
#op,.description{
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #c1c1c1d8;
    text-align: center;
    color: var(--black);
    animation-name: fade-In ;
    animation-duration: 0.1s;
    display: block;
    opacity: 100;
    border-radius: 30px;
    height: 400px;
    z-index: -1;
    font-size: 20px;
    margin-top: 2%;
}
.highlight{
    background-color: #3795bd3c;
    color: var(--black);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: underline;
}
.highlight>b{
    background-color: transparent;
    font-weight: 700;
    text-decoration: underline;
   
}
.inside{
    height: 40% !important;
    background-color: #0000001f !important;
    width: 50% !important;
    border-radius: 10px;
    color: #000000 !important;
    margin-left: 5%;
}
#cl{
    display: none;
}
[title="basement membrane"]{
    margin: 10px;
    width: 30%;
    
    &>.context{
        
        width: 100%;
        height: 40%;
    }
    &:active::after{
        content: "Role : Basement membrane protects the cells from the environment ";
        white-space: pre-wrap;
        font-size: 13px;
        background-color: #00000017;
    }
}
ul.slip{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    display: flex;
flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    
   gap: 30px;
   padding: 20px;
    &>li{
        width: 90%;
        height: max-content;
        padding: 30px;
        background-color: #3A1078;
        border-radius: 30px;
        color: #F7F7F8;
        
    }
    &>li>h3{
        font-size: 20px;
        font-weight: 700;
        text-decoration: underline;
        margin-bottom: 10px;
        text-align: center;
        padding: 10px;
        background-color: #3a107880;
        color: #F7F7F8;
    }
}
.dark{
    color: #e0e0e1 !important;
    width: 96% !important;
    margin: 0 !important;
    margin-top: 5px !important;
    background-color: #c1c1c15f !important;
    border-spacing: 2px;
    border: 2px solid #c1c1c15f !important;
}
