{% extends 'index.html' %}
{% block others %}
<li title="Home" >Home</li>
   
<li title="No Need"> Log In</li>
<li title="Create Account"> Sign Up</li>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/login.css">
<section>
<form action="" method="post">
    {% block form %}
    <label for="Username">Username/Email</label>
    <input type="text" name="Username" id="name" placeholder="Enter your Username / Email" autofocus>
    <label for="password">Password</label>
    <div class="password">
    <input type="password" name="password" id="password" placeholder="Enter your Password">
    <button type="button" class="eye"><ion-icon name="eye-off" id="eye"></ion-icon></button>
    </div>
    <div id="buttons">
    <button type="submit">Log In</button>
    <button type="reset">Cancel</button>
    </div>
    {% endblock %}
    <div id="others">
        <a href="">Forgot Password?</a>
        <a href="/signup">No account?Create Now!</a>
    </div>
</form>

{% with msgs = get_flashed_messages(with_categories=true) %}
{% if msgs %}
    {% for cat,msg in msgs %}
    {% if cat == 'error' %}
    <div class="alert" role="alert">
        {{ msg }}
        <button type="button" class="close" >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% if cat=='success' %}
    <div class="success" role="success">
        {{ msg }}
        <button type="button" class="close" >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
        
    {% endfor %}
{% endif %}

{% endwith %}
</section>
<script src="../static/password.js"></script>
{% endblock %}