{% extends 'index.html' %}
{% block others %}
<li title="Home" >Home</li>
   
<li title="No Need"> Log In</li>
<li title="Create Account"> Sign Up</li>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/login.css">
<section>
<form action="" method="post">
<label for="Username">Username</label>
<input type="text" name="Username" id="name" placeholder="Enter your Username" autofocus>
<label for="Username">Email</label>
<input type="text" name="Email" id="name" placeholder="Enter your  Email" autofocus>
<label for="password">Password</label>
<div class="password">
<input type="password" name="password" id="password" placeholder="Enter your Password">
<button type="button" class="eye"><ion-icon name="eye-off" id="eye"></ion-icon></button>
</div>
<label for="re-password">Re-Enter Password</label>

    <input type="text" name="re-password" id="password" placeholder="Enter your Password">
<div id="buttons">
<button type="submit">Log In</button>
<button type="reset">Cancel</button>
</div>
<div id="others">
   
    <a href="/login">already have account?</a>
</div>
</form>
</section>

<script src="../static/password.js"></script>
{% endblock %}